<h1 style="margin: 20px 0px 0px 40px;">Historial Venta</h1>
<mat-card style="margin: 20px 40px 40px 40px;">
  <mat-card-content>
    <form [formGroup]="formularioBusqueda" (ngSubmit)="buscarVentas()">
      <div class="campos-formulario">
        <mat-form-field appearance="fill">
          <mat-label>Buscar por</mat-label>
          <mat-select formControlName="buscarPor" required>
            <mat-option *ngFor="let item of opcionesBusqueda" [value]="item.value">{{item.descripcion}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" *ngIf="formularioBusqueda.value.buscarPor == 'numero'">
          <mat-label>Numero de orden</mat-label>
          <input matInput formControlName="numero" autocomplete="off" />
        </mat-form-field>
        <!-- <mat-form-field appearance="fill" *ngIf="formularioBusqueda.value.buscarPor == 'fecha'">
          <mat-label>Fecha Inicio</mat-label>
          <input matInput formControlName="fechaInicio" autocomplete="off" [matDatepicker]="picker1"/>
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="fill" *ngIf="formularioBusqueda.value.buscarPor == 'fecha'">
          <mat-label>Fecha Fin</mat-label>
          <input matInput formControlName="fechaFin" autocomplete="off" [matDatepicker]="picker2"/>
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field> -->
        <mat-form-field *ngIf="formularioBusqueda.value.buscarPor == 'fecha'">
          <mat-label>Ingresar rango de fechas</mat-label>
          <mat-date-range-input [formGroup]="formularioBusqueda" [rangePicker]="picker">
            <input matStartDate formControlName="fechaInicio" placeholder="Fecha inicio">
            <input matEndDate formControlName="fechaFin" placeholder="Fecha fin">
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="formularioBusqueda.invalid" class="boton-buscar">
          <mat-icon>search</mat-icon>
          Buscar
        </button>
      </div>

    </form>
    <mat-divider></mat-divider>
    <mat-form-field appearance="fill" class="input-filter">
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="aplicarFiltro($event)" placeholder="Buscar" #input>
    </mat-form-field>
    <div class="mat-elevation-z2">
      <table mat-table [dataSource]="datosListaVenta">
        <ng-container matColumnDef="fechaRegistro">
          <th mat-header-cell *matHeaderCellDef> Fecha Registro </th>
          <td mat-cell *matCellDef="let element"> {{element.fechaRegistro}} </td>
        </ng-container>
        <ng-container matColumnDef="numeroDocumento">
          <th mat-header-cell *matHeaderCellDef> Numero venta </th>
          <td mat-cell *matCellDef="let element"> {{element.numeroDocumento}} </td>
        </ng-container>
        <ng-container matColumnDef="tipoPago">
          <th mat-header-cell *matHeaderCellDef> Tipo Pago </th>
          <td mat-cell *matCellDef="let element"> {{element.tipoPago}} </td>
        </ng-container>

        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef> Total </th>
          <td mat-cell *matCellDef="let element"> {{element.totalTexto}} </td>
        </ng-container>
        <ng-container matColumnDef="accion">
          <th mat-header-cell *matHeaderCellDef style="width: 10rem;"></th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" (click)="verDetalleVenta(element)" matTooltip="Ver Detalle">
              <mat-icon>visibility</mat-icon>
            </button>

          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnasTabla"></tr>
        <tr mat-row *matRowDef="let row; columns: columnasTabla;"></tr>
        <tr class="mat-row" *matNoDataRow >
          <td class="mat-cell" colspan="4" style="padding: 1rem;">No hay datos que coincidan con el filtro {{input.value}}</td>
        </tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
